.pick_car_container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}
.pick_car_heading{
    margin-bottom: 3rem;
}
.pick_car_heading h4{
    font-size: 30px;
    margin: 0.2rem 
}
.pick_car_heading h1{
    font-size: 40px;
    margin: 0.2rem 
}
.pick_car_heading p{
    font-size: large;
    margin: 1rem;
    color: grey;
    max-width: 500px;
}
.car_name{
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    background-color: #e9e9e9;;
    width: 270px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin: .3rem;
    cursor: pointer;
    transition: all .1s ease-in-out;
    font-family: poppins ,sans-serif;
}
.car_name:hover{
    background-color: #ff4d30;
    color: white;
}
.active{
    background-color: #ff4d30;
    color: white;
}
.selected_car_data{
  width: 250px;
}
.selected_car_img{
    display: flex;
    width: 491px;
    align-items: center;
    justify-content: center;
}
.selected_car_img img{
     width: 100%;
     height: auto;
     display: block;
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db; /* Change color as needed */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-self: center;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.price{
    display: flex;
    color: white;
    align-items: center;
    padding-left: 1rem ;
    font-size: 20px;
    height: 50px;
    justify-content: center;
    font-size: 35px;
    font-family: math;
}
.price span{
    font-size: 30px;
    font-weight: 600;
}
.car_entity{
    text-wrap: nowrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5rem;
    font-size: 17px;
    font-family: monospace;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right:2px solid ;
}
.transmission{
    text-align: left;
}
.car_models{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
.selected_car_info{
    display: flex;
}
.loader {
    position: relative;
    width: 130px;
    height: 100px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ff4d30, #ff4d30),
    linear-gradient(#29b6f6, #4fc3f7), linear-gradient(#29b6f6, #4fc3f7);
    background-size: 80px 70px, 30px 50px, 30px 30px;
    background-position: 0 0, 80px 20px, 100px 40px;
  }
  .loader:after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 12px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    box-sizing: content-box;
    border: 10px solid #000;
    box-shadow: 78px 0 0 -10px #fff, 78px 0 #000;
    animation: wheelSk 0.75s ease-in infinite alternate;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0px;
    height: 70px;
    width: 70px;
    background-image: linear-gradient(#fff 45px, transparent 0),
      linear-gradient(#fff 45px, transparent 0),
      linear-gradient(#fff 45px, transparent 0);
    background-repeat: no-repeat;
    background-size: 30px 4px;
    background-position: 0px 11px, 8px 35px, 0px 60px;
    animation: lineDropping 0.75s linear infinite;
  }
  
  @keyframes wheelSk {
    0%, 50%, 100% { transform: translatey(0) }
    30%, 90% { transform: translatey(-3px) }
  }
  
  @keyframes lineDropping {
    0% {
      background-position: 100px 11px, 115px 35px, 105px 60px;
      opacity: 1;
    }
    50% { background-position: 0px 11px, 20px 35px, 5px 60px }
    60% { background-position: -30px 11px, 0px 35px, -10px 60px }
    75%, 100% {
      background-position: -30px 11px, -30px 35px, -30px 60px;
      opacity: 0;
    }
  }

@media only screen and (max-width : 1060px) {
    .car_name_section{
         width: 100vw;
         padding: 1rem;
    }
    .car_name{
        width: 100%;
    }
    .selected_car_img{
        width: 491px;
        height: 300px;
    }
    .car_models{
        gap: 2rem;
    }
}