.hero_container{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
    width: 100%;
   
   align-items: center;
   display: flex;
}
   
.hero-pages__overlay {
    background-color: hsla(0,0%,100%,.92);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0px;
    width: 100%;
}
.hero2_text_container{
    z-index: 3;
    padding: 3rem;

}
.hero2_text_container h2{
    font-size: 3.6rem;
    margin-bottom: 0.5rem;
}
.hero2_text_container p{
    font-size: 1.6rem;
    font-weight: 600;
}

