.choose_container{
    margin: 3rem;
}
.choose_inner_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choose_inner_container  img{
    max-width: 100%;
    height: auto;
}
.choose_inner_container p{
    color: grey;
    font-size: 17px;
}
.choose_inner_container h4{
    font-size: 25px;
    font-style: italic;
}
.right_text_block{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    width: 400px;
}
.left_text{
    color: #010103;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    text-align: left;
    width: 500px;
}

.left_text h1{
    font-size: 40px;
    font-weight: revert;
}
.choose_text_area{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    width: 100%;
    padding: 0 3rem;
}
.right_text_container{
    display: grid;
    width: 400px;  
}
.left_text p{
   margin: 1rem 0;
}
.left_text button{
    background-color: #ff4d30;
    border: 2px solid #ff4d30;
    border-radius: 0.3rem;
    box-shadow: 0 10px 15px 0 rgba(255,83,48,.35);
    color: #fff;
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: all .3s;
    width: fit-content;
}
@media only screen and (max-width:1000px) {
       .choose_text_area{
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        text-align: center;
    }
    .left_text{
        text-align: center;
    }
    .left_text button{
        align-self: center;
    }
  }
  @media only screen and (max-width:580px) {
         .left_text{
            width: auto;
         }
         .right_text{
            width: auto;
         }
         .left_text h1{
            font-size: 25px;
         }
         .left_text button{
            font-size: normal;
            font-weight: 100;
            text-rendering: none;
         }
         .right_text_block{
            flex-direction: column;
            gap: 0px;
            align-items: center;
         }
         .choose_text_area{
            padding: 0%;
         }
         .choose_container{
            margin: 1rem;
         }
         .right_text_container{
            width: auto;
         }
         .right_text_block{
            width: auto;
         }

  }